# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual / editor
.venv/
.idea/
.vscode/

# Runtime data
logs/
downloads/
cache/
data/
config/user_config.json
cookie.txt

# Windows / packaging
*.spec
dist/
build/
*.msi
*.exe
*.zip
*.7z

# Local app data exports
runtime/
3rdpart/